*{
  margin: 0;
  padding: 0;
  
}
.app{
  width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.delete{
  color: red;
  cursor: pointer;
}

input:checked + span{ /*следующ span*/
text-decoration: line-through;
}